header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
	background-image: linear-gradient(white, #00569f);
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 600px;
	width: 80%;
	margin: auto;
}
#content {
	margin-left: 160px;
	padding-left: 30px;
	margin-top: -20px;
	background-color: white;
}
#content span {
	font-weight: bolder;
}
#wrapper {
	background-color: #90C8E3;
	
}
nav ul {
	float: left;
	font-size: 1.2em;
	font-weight: bolder;
	color: #000032;
	
}
nav a {
	text-decoration: none;
}
nav li {
	list-style-type: none;
	
}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}
h1 {
	color: white;
	padding: 10px;
	border: black;
	background-image: url("sunset.jpg");
	background-color: #000032;
	margin:auto;
	background-repeat:no-repeat;
	background-position-x: 100%;
	margin-bottom: 0;
}
h2 {
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
#contact {
	background-color: white;
	font-size: 90%;
}
dt {
	
	color: #000033;
}
footer {
	font-family: Georgia, "Times New Roman", serif;
}

